@import "susy";

$total-columns  : 3;
$column-width   : 4em;
$gutter-width   : .5em;
$grid-padding   : 0em;

$link-color: #114f57;
$nav-link-size: 1.4em;
$second-row-offset: 64px;
$fourth-row-offset: 40px;
$third-row-offset: -22px;
$fifth-row-offset: -44px;

@mixin nav-link-center {
  position: absolute;
  top: 50%;
  margin-top: -1em;
  left: 23px;
  right: 23px;
}

@mixin main-nav-link($image:'forest.png', $offset-from-top: 0px) {
  display: inline-block;
  text-align: center;
  background-image: image-url($image);
  background-repeat: no-repeat;
  width: 101px;
  height: 130px;
  padding-right: 42px;
  margin-right: -42px;
  position: relative;
  top: $offset-from-top;
  left: -6px;

  a {
    @include nav-link-center;
    color: #fff;
    text-decoration: none;
    font-family: 'Oswald', serif;
    font-size: $nav-link-size;
    font-weight: bold;
    line-height: 1.1em;
    width: 100px;
    text-shadow: 2px 2px #000;
  }
}

body {
  text-align: center;
  background-color: #b3a78f;
  height: 100%;
}

.container {
  @include container();
//  @include susy-grid-background;

  background-color: #fff;
  background-image: image-url('cardboard_flat.png');

  @include at-breakpoint(290px 5) { // Medium display
    @include container();
//    @include susy-grid-background;

    .background_tiles_left { display: none; }
    .background_tiles_right { display: none; }

    .main {
      margin: 0px;
      height: 100%;
      text-align: center;
    }

    .main-nav-links {
      @include span-columns(2, 5);
      @include pull(0.2);
    }

    .title {
      @include span-columns(3 omega, 5);

      h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        font-family: 'Lobster', serif;
        font-weight: normal;
        line-height: 1em;
        padding: 0px;
        padding-bottom: 20px;
      }
    }

    .where_when_link { @include main-nav-link('wheat.png') }
    .lodging_link { @include main-nav-link('forest.png') }
    .registry_link { @include main-nav-link('mountains.png') }
    .rsvp_link { @include main-nav-link('brick.png') }
    .faq_link { @include main-nav-link('field.png') }
    .party_link { @include main-nav-link('desert.png') }
    .contact_link { @include main-nav-link('forest.png') }

    .nav-link {
      display: block;
    }

    .current a {
      color: #000;
      text-shadow: none;
    }

    .sheep {
      margin-top: 50px;
    }

    .main_content {
      @include span-columns(3 omega, 5);
      margin: 0px auto;

      h1.section-title {
        font-size: 1em;
      }

      h2 {
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
        font-family: 'Oswald', serif;
        font-size: 1.2em;
        text-align: left;
      }

      h3 {
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
        font-family: 'Oswald', serif;
        font-size: 1.1em;
        text-align: left;
      }

      .welcome p {
        text-align: center;
      }

      p, li { 
        margin: 0px;
        padding: 0px;
        text-align: left;
        line-height: 26px;
        margin-bottom: 20px;
        font-family: 'Merriweather', serif;
        font-size: 0.9em;
      }

      .end_of_block {
        border-bottom: 1px solid #999;
        margin-bottom: 10px;
      }

      em {
        font-weight: bold;
      }

      a, a:link, a:visited {
        color: $link-color;
      }

      ul {
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
      }

      li {
        font-size: 14px;
        text-align: left;
        margin: 0px;
        padding: 0px;
      }

      hr {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }

    .party_person {
      text-align: left;
      font-family: 'Merriweather', serif;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 20px;

      span {
        display: block;
      }
    }
  }

  @include at-breakpoint(800px 14) { // Wide display
    @include container();
//    @include susy-grid-background;

    width: 800px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    text-align: left;
    box-shadow: 1px 1px 10px 1px #000;

    header {
      height: 193px;
      background-image: image-url('water_tiles.png');
      background-repeat: repeat-x;
      text-align: center;
    }

    .background_tiles_left {
      display: block;
      margin-top: 190px;
      height: 500px;
      width: 400px;
      background-image: image-url('tile_background_left.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      left: -250px;
    }

    .background_tiles_right {
      display: block;
      position: absolute;
      top: 190px;
      right: -100px;
      height: 144px;
      width: 144px;
      background-image: image-url('tile_background_right.png');
      background-repeat: no-repeat;
    }

    .main {
      margin-top: 130px;
    }

    .title {
      @include reset-columns;
      h1 {
        font-size: 2.5em;
        margin-top: 65px;
        width: 400px;
        border-bottom: 1px solid #888;
      }
    }

    .main-nav-links {
      @include reset-columns;
    }

    .where_when_link { @include main-nav-link('wheat.png', $second-row-offset); }
    .lodging_link { @include main-nav-link('forest.png'); }
    .registry_link { @include main-nav-link('mountains.png', $second-row-offset); }
    .rsvp_link { @include main-nav-link('brick.png'); }
    .faq_link { @include main-nav-link('field.png', $second-row-offset); }
    .party_link { @include main-nav-link('desert.png'); }
    .contact_link { @include main-nav-link('forest.png', $second-row-offset); }

    .nav-link {
      margin-left: auto;
    }

    .main_content {
      @include reset-columns;
      margin-top: 100px;
      width: 500px;

      h1.section-title {
        font-size: 2em;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.3em;
      }

      p, li { 
        font-size: 1.0em;
      }
    }
  }
}
