@import "susy";

// Default Layout
$total-columns  : 3;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 1em;

// Other Layout Breakpoints
$smartphone: 290px 6;
$desktop: 800px 14;


$link-color: #114f57;
$nav-link-size: 1.4em;
$second-row-offset: 64px;
$fourth-row-offset: 40px;
$third-row-offset: -22px;
$fifth-row-offset: -44px;

$mobile-header-gradient-start: #3f94bf;
$mobile-header-gradient-end: #246485;
$mobile-link-gradient-start: #fff;
$mobile-link-gradient-end: #ededed;
$mobile-link-border: #b7b7b7;
$mobile-header-button-border: #222;
$mobile-link-text: #000;
$mobile-header-text: #fff;


// Borrowed from: http://stackoverflow.com/questions/11223927/susy-how-to-extend-content-box-to-cover-grid-padding-as-well
@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

@mixin nav-link-center {
  position: absolute;
  top: 50%;
  margin-top: -1em;
  left: 23px;
  right: 23px;
}

@mixin nav-link-small {
  width: 108px;
  height: 98px;
  a, a:link, a:visited {
    font-size: 1em;
    width: 80px;
    left: 15px;
    right: 15px;
  }
}

@mixin main-nav-link($image:'forest.png', $offset-from-top: 0px) {
  display: inline-block;
  text-align: center;
  background-image: image-url($image);
  background-repeat: no-repeat;
  width: 101px;
  height: 130px;
  padding-right: 42px;
  margin-right: -42px;
  position: relative;
  top: $offset-from-top;

  a, a:link, a:visited {
    @include nav-link-center;
    color: #fff;
    text-decoration: none;
    font-family: 'Oswald', serif;
    font-size: $nav-link-size;
    font-weight: bold;
    line-height: 1.1em;
    width: 100px;
    text-shadow: 2px 2px #000;
  }
}

@mixin mobile-link-box($gradient-start: $mobile-link-gradient-start, $gradient-end: $mobile-link-gradient-end, $text-color: $mobile-link-text, $shadow-color: #222) {
  color: $text-color;
  display: block;
  text-shadow: 0px -1px 1px $shadow-color;
  background-image: -moz-linear-gradient(top, $gradient-start, $gradient-end);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $gradient-start), color-stop(1, $gradient-end));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$gradient-start', EndColorStr='$gradient-end')";
  padding: .5em 2em .55em;
  margin: 0px;
  border-bottom: 1px solid $mobile-link-border;
  text-decoration: none;
  font-size: 1.2em;
}

.current {
  a, a:link, a:visited {
    color: #000 !important;
    text-shadow: none !important;
  }
}

body {
  text-align: center;
  height: 100%;
  background-image: image-url('cardboard_flat.png') !important;
}

.container {
  @include container();
//  @include susy-grid-background;

  // ############# iPhone/iPad Breakpoint #############
  @include at-breakpoint($smartphone) {
    @include container();
//    @include susy-grid-background;

    .background_tiles_left { display: none; }
    .background_tiles_right {
      display: block;
      position: absolute;
      top: 100px;
      right: 1px;
      width: 187px;
      height: 428px;
      background-image: image-url('small-background.png');
      background-repeat: no-repeat;
      z-index: -100;
      opacity: 0.2;
    }


    .main {
      margin: 0px;
      height: 100%;
      text-align: center;
    }

    #mobile-header {
      @include mobile-link-box($mobile-header-gradient-start, $mobile-header-gradient-end, $mobile-header-text, #222);
      box-shadow: 0 1px 5px rgba(34, 34, 34, 0.5);
      border-bottom-color: #1b5572;
      @include bleed;

      #menu-button {
        display: inline;
        float: left;

        a {
          color: #fff;
          border: 1px solid $mobile-header-button-border;
          border-radius: .2em;
          padding: .2em .5em;
          background-image: -moz-linear-gradient(top, darken($mobile-header-gradient-start, 5%), darken($mobile-header-gradient-end, 5%));
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, darken($mobile-header-gradient-start, 5%)), color-stop(1, darken($mobile-header-gradient-end, 5%)));
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='darken($mobile-header-gradient-start, 5%)', EndColorStr='darken($mobile-header-gradient-end')";
          text-decoration: none;
          font-size: 0.9em;
          font-weight: normal;
        }
      }

      h3 {
        display: inline;
        font-size: 1em;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    #mobile-nav-panel {
      background-color: #fff;
      margin: 0px;
      padding: 0px;
      @include bleed;

      .mobile-nav-panel-links {
        margin: 0px;
        padding: 0px;
        border-left: 1px solid $mobile-link-border;
        border-right: 1px solid $mobile-link-border;

        a {
          @include mobile-link-box($shadow-color: #fff);
          @include bleed;
        }
      }
    }

    .main-nav-links {
      display: none;
    }

    .title {
      h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        font-family: 'Lobster', serif;
        font-weight: normal;
        line-height: 1em;
        padding: 0px;
        padding-bottom: 20px;
      }
    }

    .nav-link {
      display: none;
    }

    a, a:link, a:visited {
      color: $link-color;
    }

    .sheep {
      margin-top: 50px;
    }

    .main_content {
      margin: 0px auto;

      h1.section-title {
        font-size: 1em;
      }

      h2 {
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
        font-family: 'Oswald', serif;
        font-size: 1.2em;
        text-align: left;
      }

      h3 {
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
        font-family: 'Oswald', serif;
        font-size: 1.1em;
        text-align: left;
      }

      .welcome p {
        text-align: center;
      }

      p, li { 
        margin: 0px;
        padding: 0px;
        text-align: left;
        line-height: 26px;
        margin-bottom: 20px;
        font-family: 'Merriweather', serif;
        font-size: 0.9em;
      }

      .end_of_block {
        border-bottom: 1px solid #999;
        margin-bottom: 10px;
      }

      em {
        font-weight: bold;
      }

      ul {
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
      }

      li {
        font-size: 14px;
        text-align: left;
        margin: 0px;
        padding: 0px;
      }

      hr {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }

    .party_person {
      text-align: left;
      font-family: 'Merriweather', serif;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 20px;

      span {
        display: block;
      }
    }
  }

  // ############# Desktop Breakpoint #############
  @include at-breakpoint($desktop) {
    @include container();
//    @include susy-grid-background;

    #mobile-header {
      display: none;
    }

    header {
      height: 193px;
//      background-image: image-url('water_tiles.png'); // removed for now as it does not line up
      background-repeat: repeat-x;
      text-align: center;
    }

    .background_tiles_left {
      display: block;
      margin-top: 190px;
      height: 500px;
      width: 400px;
      background-image: image-url('tile_background_left.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      left: -100px;
      opacity: 0.5;
    }

    .background_tiles_right {
      display: block;
      position: absolute;
      top: 190px;
      right: 70px;
      height: 144px;
      width: 144px;
      background-image: image-url('tile_background_right.png');
      background-repeat: no-repeat;
      opacity: 0.5;
    }

    .main {
      margin-top: 130px;
    }

    .title {
      @include reset-columns;
      h1 {
        font-size: 2.5em;
        margin-top: 65px;
        width: 400px;
        border-bottom: 1px solid #888;
      }
    }

    .main-nav-links {
      display: block;
      @include span-columns(2, 6);
      @include pull(0.3);
      @include reset-columns;
    }

    .where_when_link { @include main-nav-link('wheat.png', $second-row-offset); }
    .lodging_link { @include main-nav-link('forest.png'); }
    .registry_link { @include main-nav-link('mountains.png', $second-row-offset); }
    .rsvp_link { @include main-nav-link('brick.png'); }
    .faq_link { @include main-nav-link('field.png', $second-row-offset); }
    .party_link { @include main-nav-link('desert.png'); }
    .contact_link { @include main-nav-link('forest.png', $second-row-offset); }

    .nav-link {
      margin-left: auto;
    }

    .main_content {
      @include reset-columns;
      margin-top: 100px;
      width: 500px;

      h1.section-title {
        font-size: 2em;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.3em;
      }

      p, li { 
        font-size: 1.0em;
      }
    }
  }
}
