/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/


html {
  height: 100%;
}

body {
  text-align: center;
  background-color: #b3a78f;
  height: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  text-align: left;
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px #000;
}

