/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
require "_layout/grid"

*/

$link-color: #114f57;

html {
  height: 100%;
}

body {
  text-align: center;
  background-color: #b3a78f;
  height: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  text-align: left;
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px #000;
}

header {
  height: 193px;
  background-image: image-url('water_tiles.png');
  background-repeat: repeat-x;
  text-align: center;
}

.background_tiles_left {
  margin-top: 190px;
  height: 500px;
  width: 400px;
  background-image: image-url('tile_background_left.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: -250px;
}

.background_tiles_right {
  position: absolute;
  top: 190px;
  right: -100px;
  height: 144px;
  width: 144px;
  background-image: image-url('tile_background_right.png');
  background-repeat: no-repeat;
}

.main {
  margin: 0px;
  height: 100%;
  padding-bottom: 50px;
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.title {
  h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    font-family: 'Lobster', serif;
    font-weight: normal;
    margin-top: 45px;
    width: 400px;
    line-height: 1em;
    border-bottom: 1px solid #888;
  }
}

$nav-link-size: 1.4em;
$second-row-offset: 64px;

@mixin nav-link-center {
  position: absolute;
  top: 50%;
  margin-top: -1em;
  left: 23px;
  right: 23px;
}

@mixin main-nav-link($x, $y, $image:'forest.png', $offset: 0px) {
  display: inline-block;
  background-image: image-url($image);
  background-repeat: no-repeat;
  width: 101px;
  height: 144px;
  padding-right: 42px;
  margin-right: -42px;
  position: relative;
  top: $offset;
  left: -20px; // Not sure why I need this, but it centers the links.

  a {
    @include nav-link-center;
    color: #fff;
    text-decoration: none;
    font-family: 'Oswald', serif;
    font-size: $nav-link-size;
    font-weight: bold;
    line-height: 1.1em;
    width: 100px;
    text-shadow: 2px 2px #000;
  }
}

.where_when_link { @include main-nav-link(160px, 90px, 'wheat.png', $second-row-offset); }
.lodging_link { @include main-nav-link(270px, 55px, 'forest.png'); }
.registry_link { @include main-nav-link(370px, 118px, 'mountains.png', $second-row-offset); }
.rsvp_link { @include main-nav-link(480px, 55px, 'brick.png'); }
.faq_link { @include main-nav-link(580px, 118px, 'field.png', $second-row-offset); }
.party_link { @include main-nav-link(685px, 45px, 'desert.png'); }
.contact_link { @include main-nav-link(790px, 105px, 'forest.png', $second-row-offset); }

.current a {
  color: #000;
  text-shadow: none;
}

.sheep {
  margin-top: 50px;
}

.main_content {
  margin: 0px auto;
  margin-top: 100px;
  width: 500px;

  h1 {
    font-family: 'Oswald', serif;
  }

  h2 {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    font-family: 'Oswald', serif;
    text-align: left;
  }

  p, li { 
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 26px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
  }

  .end_of_block {
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
  }

  em {
    font-weight: bold;
  }

  a, a:link, a:visited {
    color: $link-color;
  }

  li {
    text-align: left;
    margin: 0px;
    padding: 0px;
  }
}
